.profile__button {
    padding: 0;
    transition: 0.2s;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

.profile__button:hover {
    opacity: 0.6;
}